{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payselection" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li>
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_settings }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payselection" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="payment_payselection_status">{{ entry_status }}</label>

            <div class="col-sm-9">
              <select name="payment_payselection_status" id="payment_payselection_status" class="form-control">
                {% if payment_payselection_status %}
                  <option value="1" selected="selected">{{ status_enabled }}</option>
                  <option value="0">{{ status_disabled }}</option>
                {% else %}
                  <option value="1">{{ status_enabled }}</option>
                  <option value="0" selected="selected">{{ status_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{ entry_serviceId }}</label>
            <div class="col-sm-9">
              <input type="text" name="payment_payselection_serviceId" value="{{ payment_payselection_serviceId }}" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{ entry_openKey }}</label>
            <div class="col-sm-9">
              <input type="text" name="payment_payselection_openKey" value="{{ payment_payselection_openKey }}" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{ entry_key }}</label>
            <div class="col-sm-9">
              <input type="password" name="payment_payselection_key" value="{{ payment_payselection_key }}" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_mode }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_mode" class="form-control">
                <option value="url" {{ payment_payselection_mode == 'url' ? 'selected="selected"' : '' }}>{{ mode_test }}</option>
                <option value="widget" {{ payment_payselection_mode == 'widget' ? 'selected="selected"' : '' }}>{{ mode_prod }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_stage }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_stage" class="form-control">
                <option value="one" {{ payment_payselection_stage == 'one' ? 'selected="selected"' : '' }}>{{ stage_one }}</option>
                <option value="two" {{ payment_payselection_stage == 'two' ? 'selected="selected"' : '' }}>{{ stage_two }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == payment_payselection_order_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-order-status2">{{ entry_order_status2 }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_order_status2_id" id="input-order-status2" class="form-control">
                {% for order_status in order_statuses2 %}
                  {% if order_status.order_status_id == payment_payselection_order_status2_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-order-status3">{{ entry_order_status3 }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_order_status3_id" id="input-order-status3" class="form-control">
                {% for order_status in order_statuses3 %}
                  {% if order_status.order_status_id == payment_payselection_order_status3_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-order-status4">{{ entry_order_status4 }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_order_status4_id" id="input-order-status4" class="form-control">
                {% for order_status in order_statuses4 %}
                  {% if order_status.order_status_id == payment_payselection_order_status4_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-order-status5">{{ entry_order_status5 }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_order_status5_id" id="input-order-status5" class="form-control">
                {% for order_status in order_statuses5 %}
                  {% if order_status.order_status_id == payment_payselection_order_status5_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-status">{{ entry_order_fiscalization }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_fiscalization" id="input-status" class="form-control">
                {% if payment_payselection_fiscalization %}
                  <option value="1" selected="selected">{{ entry_order_fiscalization_on }}</option>
                  <option value="0">{{ entry_order_fiscalization_off }}</option>
                {% else %}
                  <option value="1">{{ entry_order_fiscalization_on }}</option>
                  <option value="0" selected="selected">{{ entry_order_fiscalization_off }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">{{ entry_order_fiscalization_coment }}</div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_taxType }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_taxType" class="form-control">
                {% for taxType in taxType_list %}
                  <option value="{{ taxType.numeric }}" {{ taxType.numeric == payment_payselection_taxType ? 'selected="selected"' : '' }}>{{ taxType.numeric == 0 ? taxType.alphabetic : taxType.alphabetic }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{ entry_order_email }}</label>
            <div class="col-sm-9">
              <input type="text" name="payment_payselection_email" value="{{ payment_payselection_email }}" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_taxSystem }}</label>
            <div class="col-sm-9">
              <select name="payment_payselection_taxSystem" class="form-control">
                {% for taxSystem in taxSystem_list %}
                  <option value="{{ taxSystem.numeric }}" {{ taxSystem.numeric == payment_payselection_taxSystem ? 'selected="selected"' : '' }}>{{ taxSystem.numeric == 0 ? taxSystem.alphabetic : taxSystem.alphabetic }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{ entry_order_inn }}</label>
            <div class="col-sm-9">
              <input type="text" name="payment_payselection_inn" value="{{ payment_payselection_inn }}" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{ entry_order_area }}</label>
            <div class="col-sm-9">
              <input type="text" name="payment_payselection_area" value="{{ payment_payselection_area }}" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{ entry_sortOrder }}</label>
            <div class="col-sm-9">
              <input type="text" name="payment_payselection_sort_order" value="{{ payment_payselection_sort_order }}" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
